@{
    Layout = "~/_SiteLayout.cshtml";
    Page.Title = "About";
}

<hgroup class="title">
    <h1>@Page.Title.</h1>
    <h2>Paybble. Wearable Checkout & Payment</h2>
</hgroup>

<article>
    <p>
        Identify customers automatically at the checkout.
        Paperless customer charging.
    </p>
</article>

<aside>
    <h3>Customer Benefits</h3>
    <p>
        Customers can seamlessly authorize payments from their Pebble. 
    </p>
    <ul>
        <li><a href="~/">Home</a></li>
        <li><a href="~/About">About</a></li>
    </ul>
</aside>